.project-info {
  height: calc(100vh - 50px);
  width: 100%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  
  .left {
    height: 100%;
    width: 50%;
    padding: 20px;
    
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    
    .description {
      text-align: center;
    }
    
    .hint {
      font-size: smaller;
      
      -webkit-animation: color-change 3s infinite;
      -moz-animation: color-change 3s infinite;
      -o-animation: color-change 3s infinite;
      -ms-animation: color-change 3s infinite;
      animation: color-change 3s infinite;
    }

    @-webkit-keyframes color-change {
        0% { color: grey; }
        50% { color: white; }
        100% { color: grey; }
    }
    @-moz-keyframes color-change {
        0% { color: grey; }
        50% { color: white; }
        100% { color: grey; }
    }
    @-ms-keyframes color-change {
        0% { color: grey; }
        50% { color: white; }
        100% { color: grey; }
    }
    @-o-keyframes color-change {
        0% { color: grey; }
        50% { color: white; }
        100% { color: grey; }
    }
    @keyframes color-change {
        0% { color: grey; }
        50% { color: white; }
        100% { color: grey; }
    }
  }
  .right {
    height: 100%;
    width: 50%;
    background-image: url("../../../assets/comfort-district.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    .left, .right {
      height: 50%;
      width: 100%;
    }
  }
}