.project-info {
  height: calc(100vh - 50px);
  width: 100%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  
  .left {
    height: 100%;
    width: 50%;
    padding: 20px;
    
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    
    .description {
      text-align: center;
    }
    
  }
  .right {
    height: 100%;
    width: 50%;
    background-image: url("../../../assets/comfort-district.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    .left, .right {
      height: 50%;
      width: 100%;
    }
  }
}