.districts-list {
  .table {
    background: linear-gradient(to right, #e3e7e5, #889ea0);
    
    thead {
      background-color: rgba(255,255,255,0.3);
    }
    tbody {
      height: 300px;
    }
  }
}